<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202624123598-d18sgs8ulof1mgcea677bc2klmrur5hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202624123598-d18sgs8ulof1mgcea677bc2klmrur5hc</string>
	<key>API_KEY</key>
	<string>AIzaSyCIZd6-msKYgnjtt3rlhIUOOohpXG-bWDo</string>
	<key>GCM_SENDER_ID</key>
	<string>202624123598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isil.GoPlace</string>
	<key>PROJECT_ID</key>
	<string>goplace-ff920</string>
	<key>STORAGE_BUCKET</key>
	<string>goplace-ff920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202624123598:ios:f80a3957c03c6301e6469f</string>
</dict>
</plist>